<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target xsi:type="File"
            name="logFile"
            fileName="${specialfolder:folder=ApplicationData}/HoloAvalonia/logs/holoavalonia.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="14"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logFile" />
  </rules>
</nlog>
